---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allArticles = await getCollection("articles");
const sortedArticles = allArticles.sort((a, b) => {
  return b.slug.localeCompare(a.slug);
});
---

<BaseLayout title="科学技術コミュ日記">
  <main class="max-w-2xl m-auto">
    <div class="text-sm text-center mb-12 opacity-70">
      北海道で、CoSTEP「科学技術コミュニケーター養成プログラム」を受講する日々の記録です。
    </div>
    <div class="flex flex-col gap-y-3">
      {
        sortedArticles.map((article) => (
          <a href={`/${article.slug}`} class="text-neutral-700 decoration-none">
            <div class="flex flex-col gap-y-1 rounded-lg p-3 hover:bg-neutral-2/70">
              <div class="flex justify-between gap-x-6 items-start">
                <div>{article.data.title}</div>
                <div class="shrink-0 opacity-75 tracking-tighter">
                  <time datetime={article.data.pubDate.toISOString()}>
                    {article.data.pubDate.toISOString().slice(0, 10)}
                  </time>
                </div>
              </div>
              <div class="text-xs tracking-tight">
                {article.data.description}
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
