html {
  @apply box-border;
  @apply bg-amber-100/60;
  @apply text-neutral-800;
  font-family: Inter, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN,
    Hiragino Sans, Meiryo, sans-serif;
  font-size: 112.5%;
  @apply antialiased;
  @apply mx-4;
}

h2 {
  @apply text-2xl;
  @apply font-semibold;
  @apply mt-12 mb-3;
}

h3 {
  @apply text-lg;
  @apply font-semibold;
  @apply mt-9 mb-3;
}

* + p {
  @apply mt-6;
}

a,
a:visited {
  @apply underline;
  text-decoration-skip-ink: none;
}
a:hover {
  @apply decoration-none;
  @apply text-blue-800;
}

img {
  @apply rounded-lg;
  transition: opacity 300ms;
}
img:hover {
  transition: opacity 300ms;
  @apply opacity-75;
}

ul,
ol {
  @apply ml-5;
  @apply my-6;
}
ul ul {
  @apply my-0;
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}
li {
  @apply my-2;
}

blockquote {
  @apply block;
  @apply my-6;
  @apply border-l-4;
  @apply border-neutral-500;
  @apply pl-4;
}

blockquote p {
  @apply text-neutral-600;
  @apply italic;
}

iframe {
  @apply my-9;
  @apply mx-auto;
}
