---
import "@assets/global.css";

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="mt-12 mb-12 text-center font-mono hover:underline">
      <a href="/" class="decoration-none">科学技術コミュ日記</a>
    </header>

    <slot />

    <footer class="mt-12 mb-12 text-center font-mono hover:underline">
      <a href="https://sorami.dev" class="decoration-none">sorami.dev</a>
    </footer>
  </body>
</html>
